# See http://help.github.com/ignore-files/ for more about ignoring files.

## compiled output
/dist
/tmp
/out-tsc
/apps/**/**/*.js
!/apps/**/**/mockServiceWorker.js
/libs/**/*.js
!/libs/**/eslint.config.js
*.js.map
*.model.js
*.component.js
*.component.spec.js

# dependencies
/node_modules
/libs/**/node_modules
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.angular
.nx/cache
.nx/workspace-data
/.sass-cache
.dccache
/connect.lock
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.betterer.cache
.betterer.results
sonar-project.properties

# testing
/coverage/
.nyc_output/out.json
.nyc_output/
cypress/screenshots
cypress/videos
reports

# System Files
.DS_Store
Thumbs.db

# dotenv environment variables file
.env
.env.*
.*.env
cypress.env.json

# angular environment files
**/environments/environment.*.ts
!**/environments/environment.prod.ts
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
